*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 80%;
    width: 100%;
}

button{
    margin: auto;
    width: 20vh;
    height: 10vh;
}