*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.unos-tekst h2{
    margin-top: 2em;
    margin-bottom: 2em;
}

#board{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.box-element{
    border: 2px solid black;
    margin: 2px;
    font-size: 2.5rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hidden-box-element{
    margin: 2px;
    height: 3rem;
    width: 3rem;
}